* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1500px;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

.sidebar-left {
    width: 25%;
    position: fixed;
}

section {
    float: left;
    width: 50%;
    margin-left: 25%;
}

.sidebar-right {
    width: 25%;
    position: fixed;
    right: 0;
}

section > p {
    text-indent: 20px;
}

nav > ul {
    list-style-type: none;
}

p {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(5, 188, 188);
}

.top-nav {
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid black;
    font-size: 1.2em;
}

.top-nav li {
    display: inline;
}

a {
    text-decoration: none;
}

.top-nav li a {
    margin: 0.5em 2em;
    padding: 0.8em 2em;
    border: 1px solid pink;
    color: rgb(206, 143, 152)
}