* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1500px;
}

.sidebar-left {
    float: left;
    width: 30%;
}

section {
    float: left;
    width: 50%;
}

.sidebar-right {
    float: left;
    width: 20%;
}