body {
    font: 1.2em / 1.5 sans-serif;
}

.card {
    max-width: 500px;
    max-height: 500px;
    padding: 15px;
    background-color: rgb(240, 0, 0);
    color: white;
    border: solid 2px black;
    border-radius: 2%;
}

