html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    background-color: #a3e4e5;
}

body {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #d55353;
    text-shadow: 3px 3px 1px black;
}

p,
li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

p {
    color: darkgoldenrod;
}

li {
    background-color: rgb(47, 161, 255);
    border: 1px solid black;
    margin-bottom: 5px;
}

img {
    display: inline-block;
    margin: 0 auto;
    padding: 3px 1px;
    max-width: 100%;
}