html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 90%;
    margin: 0 auto;
    background: #eee;
}

.content {
    max-width: 90%;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
}

.logo-section {
    display: flex;
    align-items: center;
    width: 15%;
}

a#logo {
    width: 25%;
}

.logo {
    display: block;
    width: 100%;
}