* {
    box-sizing: border-box;
}

body {
    line-height: 1.8em;
    letter-spacing: 0.08em;
    word-spacing: 0.2em;
}

header {
    border: 1px solid black;
    background-color: rgb(174, 1, 174);
    margin: 1em 0;
    text-align: center;
}

header p {
    font-size: 1.5em;
}
