html {
  font-family: sans-serif;
}


.box {
    width: 200px;
    height: 100px;
    margin: 100px auto;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    border-radius: 5%;
    border: 1px solid darkred;
    box-shadow: 
        0 0 0 2px red,
        inset 2px 2px rgba(255, 255, 255, 0.5),
        inset -2px -2px rgba(0, 0, 0, 0.5);
    
}